#chat-controls {
  .karma-icon {
    color: gray;
    flex: 0;
    padding-left: 5px;

    .active {
      color: white;
    }
  }
}

.theme-dark .karma-config .karma-checkbox label {
  background-color: var(--color-cool-4);

  &.checked {
    color: var(--color-text-dark-primary);
  }
}
.theme-light .karma-config .karma-checkbox label {
  background-color: rgba(0, 0, 0, 0.1);

  &.checked {
    color: var(--color-light-1);
  }
}
.karma-config {
  .user-picker {
    .flexrow {
      gap: 0;
    }
  }

  .karma-checkbox {
    display: flex;
    flex: 0 0 auto;

    label {
      height: var(--input-height);
      line-height: var(--input-height);
      padding: 0 0.5rem;
      margin: 2px;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;

      &.checked {
        background: var(--color-warm-1);
      }
    }
  }
}
