#chat-controls .karma-icon .hidden {
	display: none;
}
#chat-controls .karma-icon {
	color: gray;
	flex: 0;
	padding-left: 5px;
}

#chat-controls .karma-icon .active {
	color: white;
}

input.karma-checkbox + label {
	padding: 5px 5px;
	margin: 5px 5px 5px 5px;
	background-color: #e7e7e7;
	border: 1px solid #3d3d3d;
	transition: background-color 0.3s ease-in-out;
	border-radius: 3px;
	cursor: pointer;
}
input.karma-checkbox:checked + label {
	background: rgba(0, 0, 0, 0.5);
	color: var(--color-text-light-highlight);
}
